
.nx/installation
.nx/cache
.nx/workspace-data
node_modules

.angular
# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
out/
gen/

# Eclipse
.settings/
.project
.classpath
bin/

# Ignora carpetas build en cualquier nivel (apps, libs, etc.)
**/build/

.gradle/